table.forum-list {
  margin-top: 20px;
  color: afafaf;
  width: calc(100% - 60px); 
  margin: auto;
}

table.forum-list th {
  background-color: 6b738b;
  padding: 5px;
  text-align: left;
}

table.forum-list td {
  background-color: 480010;
  padding: 5px;
}
